# CSFloat API key. At csfloat.com in profile, developer tab
CSFLOAT_API_KEY=<your_csfloat_api_key>

AIRFLOW_FERNET_KEY=<generate_and_paste_here>

# The id of host user so Airflow container writes files with proper ownership
AIRFLOW_UID=1000

# Airflow UI credentials
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
